Package: com.lingjye.tweakdemo
Name: TweakDemo
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: lingjye@lingjye.com
Author: lingjye
Section: Tweaks
